name: Titan Security CI
on:
  push: { branches: ["main", "master"] }
  pull_request:
  schedule: [{ cron: "17 3 * * *" }]
permissions: { contents: read, security-events: write, actions: read }
jobs:
  codeql:
    runs-on: ubuntu-latest
    strategy: { matrix: { language: ['ruby','python','javascript','typescript','go'] } }
    steps:
      - uses: actions/checkout@v4
      - uses: github/codeql-action/init@v3
        with: { languages: ${{ matrix.language }}, config-file: ./.codeql-config.yml }
      - uses: github/codeql-action/autobuild@v3
      - uses: github/codeql-action/analyze@v3
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: returntocorp/semgrep-action@v1
        with: { config: ./.semgrep.yml, generateSarif: "1" }
      - uses: github/codeql-action/upload-sarif@v3
        with: { sarif_file: semgrep.sarif }
  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - run: pip install bandit
      - run: bandit -c .bandit -r . -f sarif -o bandit.sarif || true
      - uses: github/codeql-action/upload-sarif@v3
        with: { sarif_file: bandit.sarif }
  secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gitleaks/gitleaks-action@v2
        with: { config: .gitleaks.toml, args: "--no-banner --redact" }
